[Unit]
Description=Play with your friends!

[Service]
WorkingDirectory=/opt/nastolkinbot
VIRTUAL_ENV=/opt/nastolkinbot/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/opt/nastolkinbot/venv/bin/python3 /opt/nastolkinbot/main.py
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target